# === OS ===
.DS_Store
Thumbs.db

# ===IDE===
.vscode/
.vs/
*.user
*.user.*
*.autosave
*.pro.user
*.qbs.user
*.creator.*
*.swp
*.vcxproj*
*.sln
*.ipch/
*.db

# === C++/build ===
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib
*.lo
*.la
*.pyc
*.pyo
*.class
*.log
.cache/

# === CMake ===
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
CMakeUserPresets.json

# === Client Qt ===
/client/build/
/client/build-*/
/client/data/

# === Server Boost.Beast ===
/server/build/
/server/out/
